<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.worldcinema">

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="32" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon_ios_1024"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WorldCinema"
        android:usesCleartextTraffic="true">


        <activity
            android:name="com.example.worldcinema.Profile"
            android:exported="false" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity
            android:name="com.example.worldcinema.TheMagicians"
            android:exported="false" />
        <activity
            android:name="com.example.worldcinema.Menu"
            android:exported="false" />
        <activity
            android:name="com.example.worldcinema.Registration"
            android:exported="false" />
        <activity
            android:name="com.example.worldcinema.StartMenu"
            android:exported="false" />
        <activity
            android:name="com.example.worldcinema.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>